@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main { flex: 1; }

.main .top-row {
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d5d5;
}

.sidebar { background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); }

.sidebar .top-row { background-color: rgba(0, 0, 0, 0.4); }

.sidebar .navbar-brand { font-size: 1.1rem; }

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type { padding-top: 1rem; }

.nav-item:last-of-type { padding-bottom: 1rem; }

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.content { padding-top: 1.1rem; }

.navbar-toggler { background-color: rgba(255, 255, 255, 0.1); }

@media (max-width: 767.98px) {
    .main .top-row { display: none; }
}

@media (min-width: 768px) {
    app { flex-direction: row; }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler { display: none; }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.nav .nav-item .fa {
    margin-right: 5px;
}

.main-toolbar {
    position: absolute;
    right: 10px;
    z-index: 99;
}

.page-loading-container {

}

.page-loading-block {
    border: 2px solid gray;
    border-radius: .25rem;
    padding: .75rem 1rem;
    display: inline-block;
}

.input-h1 {
    font-size: 2.5rem;
    width: 100%;
    border: 2px solid rgba(0, 123, 255, .25);
    border-radius: .25rem;
}
.input-badge {
    border: none;
    font-size: 75%;
    font-weight: bold;
    padding: .05em .4em;
    border-radius: .25rem;
}

.popup-toolbar {
    position: absolute;
    transform: translate(0, -20px);
}

button.popup-small {
    font-size: 75%;
    padding: 1px 4px;
}

.xxl {
    font-size: 200%;
}

.xl {
    font-size: 150%;
}

.container-tags {
    margin: 10px 0;
}
.container-heading {
    margin: 10px 0;
}
.container-heading hr {
    margin: 8px 0;
}

.loading-container {
    position: relative;
}
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: none;
}
.loading-container.is-loading {
    opacity: 0.5;
}
.loading-overlay.is-loading {
    display: inherit;
}