@inject IDetailsService _detailsService

<EditableDetailTable Items="Ingredients" IsEdit="@_detailsService.IsEditMode">
    <HeaderTemplate>
        <th colspan="2">Hoeveelheid</th>
        <th>Ingredient</th>
    </HeaderTemplate>
    <RowViewTemplate Context="context">
        <td class="text-right">@context?.QuantityValue</td>
        <td>@context?.Quantity?.Name</td>
        <td>@context?.Food?.Name</td>
    </RowViewTemplate>
    <RowEditTemplate Context="context">
        <DetailsIngredientEditRow Ingredient="@context"></DetailsIngredientEditRow>
    </RowEditTemplate>
</EditableDetailTable>

@functions {

    [Parameter]
    private IList<IngredientDto> Ingredients { get; set; }

    private IngredientEdit NewIngredient { get; set; }

}