<td>
    <input type="number" bind="@QuantityValueBind" class="form-control"/>
</td>

@functions {

    [Parameter]
    private IngredientDto Ingredient { get; set; }

    private string QuantityValueBind {
        get => Ingredient.QuantityValue.ToString();
        set {
            if (float.TryParse(value, out var @float)) {
                Ingredient.QuantityValue = @float;
            } else {
                Ingredient.QuantityValue = null;
            }
        }
    }
}
