@page "/test"

<TestChildComponent Value="_model.SubModel">
    <Template>
        <span>@context.Id</span>
        <span>@context.Name</span>
        <span>@context.SubSubModel.Id</span>
        <span>@context.SubSubModel.Name</span>
    </Template>
</TestChildComponent>

@functions {

    private Model _model;

    protected override void OnInit() {
        _model = new Model() {
            Id = 1,
            Name = "model",
            SubModel = new SubModel() {
                Id = 2,
                Name = "submodel",
                SubSubModel = new SubSubModel() {
                    Id = 3,
                    Name = "subsubmodel"
                }
            }
        };
    }

}
