<input ref="Input" id="input"/>

<button onclick="@OnClick">Init</button>

@functions {

    private ElementRef Input;

    private async Task OnClick() {
        await Input.CreateAutocomplete();
    }

}
